ipykernel
numpy
pandas
matplotlib
tensorflow
torch
peft
trl
bitsandbytes
transformers
accelerate
datasets
sentence-transformers
huggingface_hub
ipywidgets
tf-keras    # depends on system to system
optimum
xformers
unsloth[colab-new] @ git+https://github.com/unslothai/unsloth.git